[submodule "clipboard_image_auto_saver"]
	path = clipboard_image_auto_saver
	url = https://github.com/siriak/clipboard_image_auto_saver.git
[submodule "boinc-load-balancer"]
	path = boinc-load-balancer
	url = https://github.com/siriak/boinc-load-balancer.git
